<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGA - Login</title>
</head>
<body>
    <form action="{% url 'account_login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Logar</button>

        <hr>
        <div class="">
            <h3>Entrar com sua conta da Microsoft:</h3>

            <a href="#">
                Microsoft
            </a>
        </div>
    </form>
</body>
</html>